.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/img2.jpg");
  background-size: 100% 100%;
}

.global-class-name {
  color: #000;
}
